<nav class="navbar navbar-inverse" style="margin: 10px 15% 0;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><strong>PM Health</strong></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><strong>Logout</strong></a></li>
      </ul>
    </div>
  </div>
</nav>
<ol class="breadcrumb" style="margin: 0 15%; border-radius: 0">
  <li class="breadcrumb-item"><a href="../dashboard">Dashboard</a></li>
  <li class="breadcrumb-item active">Start Visit</li>
</ol>
<div class="page" style="margin-left: 15%; margin-right: 15%; padding: 10px 25px; overflow: hidden">
  <div>
    <!--<label for="search">Search</label>
    <input id="search" class="form-control" type="text">-->
    <h3>Select a Patient</h3>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Patient ID</th>
        <th>Name</th>
        <th>DOB</th>
        <th>SSN</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rec of records"
          style="cursor: pointer;"
          (click)="startVisit(rec.patientId)">
        <td>{{ rec.patientId }}</td>
        <td>{{ rec.name }}</td>
        <td>{{ rec.dob }}</td>
        <td>{{ rec.ssn }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="visit">
    <form (submit)="submitVisit()" id="visitForm">
      <small class="form-text">Admission Date</small><br>
      {{visit.admissionDate}}<br>

      <small class="form-text">Reason</small><br>
      <textarea class="form-control" name="reason" form="visitForm" rows="5" style="margin-bottom: 10px" [(ngModel)]="visit.reason"></textarea>
        <div class="">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
  </div>
  <!--<a onclick="document.getElementById('registerDiv').style.display = 'block'">Register New Patient</a>
  <div id="registerDiv" style="display: none">

  </div>-->
</div>

